*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
    background: url("./assests/img/blackbackground.jpg");
    
}

.container {
    background-color: #363636;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    /*Centralizar de forma izi*/
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.button-ad-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #4B0082;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px;
    float: right;
    cursor: pointer;
}

.button-ad-task:hover {
    opacity: 0.8;
}

.button-ad-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}


img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #9370DB;
    text-decoration: line-through;
}